<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>pi-video-streaming</title>
  <script type="text/javascript" src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
  <style>
    video {
      width: 1368px;
      height: 720px;
    }
  </style>
</head>

<body>
  {{{body}}}
</body>

</html>